/*** VARIABLES ***/
/*** COMMUNITY VARIABLES ***/
/* Breakpoints */
/* ipad mini/ipad width is 768px */
.vlocity .community {
  /* ads */ }
  .vlocity .community .ads {
    text-align: center;
    margin-top: 15px;
    overflow-x: hidden; }