@import "npVariables";

.vlocity{
    .activity-feed-timeline-card{
        margin-top:30px;
        color:$text-color;
        .activity-feed-card_items{
           
              padding: 0;
              position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 2px;
                background: #ff6e0d;
                left: 96px;
              
             
            }
            
            &.hideLine:before
            {
                display:none;
            }
            
            a{
                color:#2972CB;
            }
                 li {
                    position: relative;
                .activity-feed-timeline--circle {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    background: #ff6e0d;
                    border-radius: 50%;
                    text-align: center;
                    left: 88px;
                    top: 0;
                    border: 6px solid #fff;
                      
                    }   
                    &:first-child{
                         .activity-feed-timeline--circle{
                            
                         }
                      }
              .activity-feed-card_item--date {
                  display: block;
                  width: 120px;
                  
                  position: absolute;

                }
                .activity-feed-timeline--label {
                      margin-left: 125px;
                      font-weight:300;
                      position: relative;
                 }
                 
                 .custom-text-bold
                 {
                     font-weight:bold;
                 }
                span {
                     display: block;
                
                }
            }
        }
        
        @media screen and (max-width: 360px) {
            
            .activity-feed-card_items{
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 2px;
                background: #ff6e0d;
                left: 8px;
              
             
            }
            
                 li {
                    position: relative;
                .activity-feed-timeline--circle {
                        width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    left: 0px;
    top: 0;
                    
                    background: #ff6e0d;
                    
                    border: 6px solid #fff;
                      
                    }
              .activity-feed-card_item--date {
                  display: block;
                  width: 120px;
                      left: 30px;
                  position: absolute;

                }
                .activity-feed-timeline--label {
                     margin-left: 30px;
    font-weight: 300;
    top: 20px;
    position: relative;
                 }
                 
                 
            }
        }
        }
    }
}