/* variables */

/* colors */
$theme-color-1 : #0070D2;
$theme-color-2: #ff7900;
$lighter-grey:rgba(223, 230, 237, 0.5);
$light-grey:rgb(223, 230, 237);
$dark-grey:#617EA3;
$border-color-1: rgba(231, 236, 243, 0.54);
$border-color-2: #F1F3F7;
$border-color-3: #dfe6ed;;
$border-color-4:#EF7F32;
$bar-chart-color-1: #3aac71;
$bar-chart-color-2: #00a6e4;
$background-color-1 : #ffffff;
$background-color-2: #F9FBFE;
$text-color: #16325c;
$text-color-light: #4f6a92;

/* font sizes */
$font-xx-small: 11px;
$font-x-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-x-medium: 18px;
$font-xx-medium: 20px;
$font-large: 24px;
$font-x-large: 28px;
$font-xx-large: 32px;
$font-mobile-banner: 36px;
$font-large-headline : 32px;
$font-x-large-headline:34px;
$font-xx-large-headline: 46px;
$font-large-banner: 56px;
$font-h1-large:60px;

/* line heights */
$font-large-line-height: 29px;
$font-x-medium-lineheight: 32px;
$font-x-large-lineheight: 39px;
$font-xx-medium-lineheight: 46px;
$font-xx-large-lineheight: 56px;