/* variables */
/* colors */
/* font sizes */
/* line heights */
/*** STYLES ***/
.vlocity {
  /* Always use vlocity class as a wrapper */ }
  .vlocity .via-slds
.np-product-category-card {
    color: #16325c;
    overflow: hidden;
    width: 100%;
    height: 400px; }
    .vlocity .via-slds
.np-product-category-card .np-catalog-img {
      margin: auto;
      display: block; }
    .vlocity .via-slds
.np-product-category-card .np-product-title {
      font-size: 28px; }
      .vlocity .via-slds
.np-product-category-card .np-product-title a:hover {
        color: #23527c;
        text-decoration: none; }
      .vlocity .via-slds
.np-product-category-card .np-product-title
.product-action-name {
        display: inherit;
        font-size: 16px; }
      .vlocity .via-slds
.np-product-category-card .np-product-title
.product-action-link {
        display: none;
        color: #0070D2;
        font-size: 16px;
        white-space: nowrap; }
    .vlocity .via-slds
.np-product-category-card.np-card {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,f6f6f6+53,f6f6f6+53,f6f6f6+57,dbdbdb+100 */
      background: #fcfcfc;
      /* Old browsers */
      background: -moz-linear-gradient(top, #F8FBFE 0%, #EDF2F8 53%, #EDF2F8 53%, #EDF2F8 57%, #D1D9E9 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #F8FBFE 0%, #EDF2F8 53%, #EDF2F8 53%, #EDF2F8 57%, #D1D9E9 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #F8FBFE 0%, #EDF2F8 53%, #EDF2F8 53%, #EDF2F8 57%, #D1D9E9 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:npImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dbdbdb',GradientType=0 );
      /* IE6-9 */
      border: none; }
    .vlocity .via-slds
.np-product-category-card
.plan-heading {
      color: #0070D2; }
  @media only screen and (max-width: 500px) {
    .vlocity .np-product-category-card {
      height: 200px; }
      .vlocity .np-product-category-card
.product-image {
        left: 70px; }
      .vlocity .np-product-category-card
.product-action-name {
        display: none; }
      .vlocity .np-product-category-card
.product-action-link {
        display: inherit; }
      .vlocity .np-product-category-card
.np-product-title {
        float: left; } }