.vlocity .cpq-product-cart-item-cell-detail .cpq-details-table {
  border-bottom: none; }

.vlocity .cpq-product-cart-item-cell-detail .via-slds .cpq-details-table:not(.slds-no-row-hover) tbody tr.cpq-detail-row:hover > th {
  background-color: white; }

.vlocity .cpq-product-cart-item-cell-detail .via-slds .cpq-details-table:not(.slds-no-row-hover) tbody tr.cpq-detail-row:hover > td {
  background-color: white; }

.vlocity .cpq-product-cart-item-cell-detail .cpq-cell-header {
  color: #0070d2;
  white-space: normal; }

.vlocity .cpq-product-cart-item-cell-detail .cpq-total-border {
  border-top: 2px solid #d8dde6; }

.vlocity .cpq-product-cart-item-cell-detail .cpq-delete-spinner-position {
  position: absolute;
  bottom: 18px;
  right: 12px; }

.vlocity .cpq-product-cart-item-cell-detail .cpq-delete-button-position {
  position: absolute;
  bottom: 3px; }

.vlocity .cpq-product-cart-item-cell-detail .cpq-detail-show-more {
  border-top: 2px solid #d8dde6; }