@import "npVariables";
/*** STYLES ***/
// include mixin "npVariables" for fonts and colors.
// npVariables mixin template should be active.
    .vlocity { /* Always use vlocity class as a wrapper */
        .np-table-list{
            .np-asset-plus-title{
                   
                font-size:$font-xx-large;
                position:relative;
                    &:after {
                    content: "";
                    background : $theme-color-2;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 50px;
                    height: 3px;
                }
            
            }
            position: relative;
            font-size:$font-medium;
            .np-table-list-plus-text{
                font-size:$font-medium;
            }
            &.custom-border--bottom{
                // border-bottom: 1px solid $border-color-1;
            }
            .vloc-attr-showmore{
                    position: absolute;
                    right: .6rem;
                    top: .9rem;
            }
        }
        .custom-link--color
        {
            color:$theme-color-1;
        }
        
        .custom-field-label
            {
                color: $text-color;
            }
            
        .custom-text-bold
        {
            font-weight:bold;
        }
 
    }