<div class="dx-via-slds-card--left-profile" ng-controller="dxviaProfileController as vm">
    <!--/banner-->
   <div  ng-init="image = (obj | getter: data.fields[1] | picker: data.fields[1].type)" class="profile-picture big-profile-picture"   >
    
        <!-- <img ng-src="..{{vm.getPhotoUrl(obj)}}"> -->
       
       <span id="pimage" >
         L
       </span>
       
       
       

       
    </div>
    <!--/pic-->
     <div class="slds-text-heading--large slds-is-relative" style="margin-top:20px;">
        {{data.title}} </div>
  
    <div class="profile-detail">
        <div class="profile-name slds-text-heading--medium">  
            {{obj | getter: data.fields[0] | picker: data.fields[0].type}} 
        <div class="ribbon {{vm.getSentiment(obj)}}">★</div>    
        <div class="profile-info">
            
            <span ng-if="data.fields.length > 2">  {{obj | getter: data.fields[2] | picker: data.fields[2].type}}</span>
        </div>
        <div class="slds-grid slds-grid--align-spread slds-p-top--small slds-p-bottom--small slds-grid--vertical-align-center" ng-if="data.actions.length > 0" >
          <div class="slds-col via-slds-col slds-size--1-of-{{data.actions.length < (data.limitActionLinksTo?data.limitActionLinksTo:3) ? data.actions.length : (data.limitActionLinksTo?data.limitActionLinksTo:3)}} slds-text-align--center slds-grid--align-center" ng-repeat="action in data.actions" ng-if="$index < (data.limitActionLinksTo?data.limitActionLinksTo:3) || data.actions.length < (data.limitActionLinksTo?data.limitActionLinksTo:3)">
              <a href="javascript:void(0)" ng-click="#" hotkey-card-action title="{{action.displayName}}" class="slds-text-link--reset">
                  {{action.displayName}}
                 <!-- <vloc-card-icon data="action" obj="obj" size="'small'" extra-classes="'big via-action-icon slds-icon-text-default'"></vloc-card-icon>-->
              </a>
          </div>
          
      </div>
    </div>
    </div>
    </div>