.dx-via-slds-card--left-profile {
  text-align: center; }
  .dx-via-slds-card--left-profile a.slds-text-link--reset {
    color: #0070d2; }
  .dx-via-slds-card--left-profile .via-slds-col {
    border-left: 1px solid #d8dde6; }
    .dx-via-slds-card--left-profile .via-slds-col:first-child {
      border-left: 0 none; }
  .dx-via-slds-card--left-profile .profile-name {
    padding-top: 10px;
    position: relative; }
    .dx-via-slds-card--left-profile .profile-name:before {
      content: '';
      display: block;
      margin: auto;
      border-color: #e06a1a;
      border-style: solid;
      border-width: 3px;
      border-bottom: 0px;
      width: 50px;
      height: 0;
      margin-top: 10px;
      margin-bottom: 25px; }
  .dx-via-slds-card--left-profile .profile-info {
    margin-bottom: 20px; }
  .dx-via-slds-card--left-profile .profile-picture {
    z-index: 3;
    border: 5px solid white;
    border-radius: 100%;
    box-sizing: content-box;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    background: #F9FBFE;
    color: #0070d2; }
    .dx-via-slds-card--left-profile .profile-picture img {
      width: 120px;
      border-radius: 100%; }
    .dx-via-slds-card--left-profile .profile-picture span {
      font-size: 75px;
      font-weight: bold;
      line-height: 120px;
      display: block;
      height: 120px;
      width: 120px;
      text-align: center; }
  .dx-via-slds-card--left-profile .ribbon {
    background: #FFF;
    height: 18px;
    margin: 0 auto;
    position: relative;
    width: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    font-size: 12px;
    color: #FFF;
    display: inline-block;
    margin-top: -10px; }
  .dx-via-slds-card--left-profile .ribbon:after,
  .dx-via-slds-card--left-profile .ribbon:before {
    content: '';
    position: absolute;
    border-top: 6px solid #FFF;
    height: 0;
    width: 0;
    top: 100%; }
  .dx-via-slds-card--left-profile .ribbon:after {
    border-left: 8px solid transparent;
    right: 0px; }
  .dx-via-slds-card--left-profile .ribbon:before {
    border-right: 8px solid transparent;
    left: 0px; }
  .dx-via-slds-card--left-profile .ribbon.diamond,
  .dx-via-slds-card--left-profile .ribbon.promoter {
    background: #b9f2ff; }
    .dx-via-slds-card--left-profile .ribbon.diamond:before,
    .dx-via-slds-card--left-profile .ribbon.diamond:after,
    .dx-via-slds-card--left-profile .ribbon.promoter:before,
    .dx-via-slds-card--left-profile .ribbon.promoter:after {
      border-top-color: #b9f2ff; }
  .dx-via-slds-card--left-profile .ribbon.platinum,
  .dx-via-slds-card--left-profile .ribbon.satisfied {
    background: #e5e4e2; }
    .dx-via-slds-card--left-profile .ribbon.platinum:before,
    .dx-via-slds-card--left-profile .ribbon.platinum:after,
    .dx-via-slds-card--left-profile .ribbon.satisfied:before,
    .dx-via-slds-card--left-profile .ribbon.satisfied:after {
      border-top-color: #e5e4e2; }
  .dx-via-slds-card--left-profile .ribbon.gold,
  .dx-via-slds-card--left-profile .ribbon.neutral {
    background: #FFD700; }
    .dx-via-slds-card--left-profile .ribbon.gold:before,
    .dx-via-slds-card--left-profile .ribbon.gold:after,
    .dx-via-slds-card--left-profile .ribbon.neutral:before,
    .dx-via-slds-card--left-profile .ribbon.neutral:after {
      border-top-color: #FFD700; }
  .dx-via-slds-card--left-profile .ribbon.silver,
  .dx-via-slds-card--left-profile .ribbon.dissatisfied {
    background: #C0C0C0; }
    .dx-via-slds-card--left-profile .ribbon.silver:before,
    .dx-via-slds-card--left-profile .ribbon.silver:after,
    .dx-via-slds-card--left-profile .ribbon.dissatisfied:before,
    .dx-via-slds-card--left-profile .ribbon.dissatisfied:after {
      border-top-color: #C0C0C0; }
  .dx-via-slds-card--left-profile .ribbon.bronze,
  .dx-via-slds-card--left-profile .ribbon.disgruntled {
    background: #cd7f32; }
    .dx-via-slds-card--left-profile .ribbon.bronze:before,
    .dx-via-slds-card--left-profile .ribbon.bronze:after,
    .dx-via-slds-card--left-profile .ribbon.disgruntled:before,
    .dx-via-slds-card--left-profile .ribbon.disgruntled:after {
      border-top-color: #cd7f32; }
  .dx-via-slds-card--left-profile .via-action-icon:before {
    font-size: 200%; }