<div class="via-slds np-list-scrollable-canvas slds-m-top--small" ng-controller="npListScrollableCanvasCtrl" ng-class="sessionBorder== 'false'  ? '' : 'np-border'">
    <!-- layout session variable: Border = 'false/true' to remove border-->
    <div class=" slds-p-around--small  np-card"  ng-init="setData(session.Scroll)" >
        <!-- scrollable div if content overlapped-->
         <!-- vloc-card directive is used to manipulate the DOM
            use ng-repeat cards to repeat the data records.
        -->
        <!-- ng-class to define horizontal and vertical scroll using session variable :Scroll-->
        <div ng-class="{'slds-scrollable--x': sessionScroll.toLowerCase() === 'horizontal', 'slds-scrollable--y': sessionScroll.toLowerCase() === 'vertical'}" >
            <!-- ng-class to define the layout to be stacked using session variable :Scroll-->
            <div ng-class="{'slds-grid--overflow' : sessionScroll.toLowerCase() === 'horizontal'}" class="slds-grid slds-wrap cards-container slds-grid--vertical-stretch">
                <div vloc-card ng-repeat="card in cards |orderBy:order|filter: searchFunc(card) | limitTo: sessionLimit as results" ctrl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}" limit="{{sessionLimit}}"
                    class="slds-p-horizontal--small slds-p-top--medium slds-p-bottom--large custom-bg np-vloc-card-margin np-product-category slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-" use-existing-element-type></div>
               
                </div>
            </div>
        </div>
</div>