.via-slds-card--flyout-grid-items__definition .slds-item--label {
  width: 30%;
  padding-right: 1.75em;
  text-align: right; }

.via-slds-card--flyout-grid-items__definition .slds-item--detail {
  width: 70%; }