/*** VARIABLES ***/
/*** VARIABLES ***/
/*** MIXINS ***/
/*** MIXINS ***/
li.vlc-list-card-row {
  list-style: none;
  border-top: 1px solid #f2f2f2;
  display: block;
  cursor: pointer; }
  li.vlc-list-card-row section {
    padding: 20px 0; }
    li.vlc-list-card-row section:hover, li.vlc-list-card-row section:active, li.vlc-list-card-row section:focus, li.vlc-list-card-row section .selected {
      transform: translateZ(0);
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      transition-duration: 0.4s;
      transition-property: background-color; }

.vlc-list-card {
  display: block; }
  .vlc-list-card > div {
    color: #05a6df;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .vlc-list-card > div > div {
      float: left;
      overflow: hidden;
      text-overflow: ellipsis; }
  .vlc-list-card ul.actions {
    padding: 0;
    margin: 0 4px;
    list-style: none;
    float: right;
    width: 100% !important; }
    .vlc-list-card ul.actions > li {
      float: left; }
      .vlc-list-card ul.actions > li > a {
        height: 18px !important;
        border: 0px !important; }
        .vlc-list-card ul.actions > li > a > .icon {
          width: 25px !important; }
      .vlc-list-card ul.actions > li > a > .icon:before {
        font-size: 18px;
        line-height: 18px !important; }