/* variables */
/* colors */
/* font sizes */
/* line heights */
/*** Styles ***/
.vlocity .np-actions-and-filter {
  background: #fff; }
  .vlocity .np-actions-and-filter a {
    color: #0070D2;
    font-size: 16px; }
  .vlocity .np-actions-and-filter h1 {
    font-size: 46px;
    position: relative;
    text-align: center; }
    .vlocity .np-actions-and-filter h1:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 34px;
      border: 2px solid rgba(231, 236, 243, 0.54); }
    .vlocity .np-actions-and-filter h1 span {
      background: #fff;
      position: relative;
      padding: 0 10px; }