/*** STYLES ***/
.vlocity {
  /* Always use vlocity class as a wrapper */ }
  .vlocity .statement-media-canvas {
    margin-top: 15px; }
    .vlocity .statement-media-canvas
.bg--white {
      background: white;
      border: 0px; }
    .vlocity .statement-media-canvas .action-link-header:after {
      content: "";
      background: #e06a1a;
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 50px;
      height: 2px; }