@import "npVariables";

/*** STYLES ***/
    .vlocity {   /* Always use vlocity class as a wrapper */
        .npStatement-media-canvas { 
            color:$text-color;
            h3{
                color:$text-color;
            }
            .np-card
            {
                background:#fff;
                border-color:#fff;
            }
            
             .np-session--title{
                font-size:$font-x-large;
                    &:after {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    width: 50px;
                    height: 3px;
                }
            }
            
            
        }   
    }