.via-slds .slds-media__figure {
  z-index: 1; }

.via-slds .slds-media--timeline:before {
  z-index: 0; }

.via-slds .slds-timeline__media--custom-custom1:before {
  background: #ff7b84; }

.via-slds .slds-timeline__media--custom-custom2:before {
  background: #cfd05c; }

.via-slds .slds-timeline__media--custom-custom3:before {
  background: #ecb46c; }

.via-slds .slds-timeline__media--custom-custom4:before {
  background: #e1d951; }

.via-slds .slds-timeline__media--custom-custom5:before {
  background: #9fdb66; }

.via-slds .slds-timeline__media--custom-custom6:before {
  background: #54c473; }

.via-slds .slds-timeline__media--custom-custom7:before {
  background: #6a89e5; }

.via-slds .slds-timeline__media--custom-custom8:before {
  background: #50ceb9; }

.via-slds .slds-timeline__media--custom-custom9:before {
  background: #6b9ee2; }

.via-slds .slds-timeline__media--custom-custom10:before {
  background: #6488e3; }

.via-slds .slds-timeline__media--custom-custom11:before {
  background: #8784ea; }

.via-slds .slds-timeline__media--custom-custom12:before {
  background: #dc71d1; }

.via-slds .slds-timeline__media--custom-custom13:before {
  background: #df6184; }

.via-slds .slds-timeline__media--custom-custom14:before {
  background: #3cc2b3; }

.via-slds .slds-timeline__media--custom-custom15:before {
  background: #f77e75; }

.via-slds .slds-timeline__media--custom-custom16:before {
  background: #e9af67; }

.via-slds .slds-timeline__media--custom-custom17:before {
  background: #acd360; }

.via-slds .slds-timeline__media--custom-custom18:before {
  background: #4dca76; }

.via-slds .slds-timeline__media--custom-custom19:before {
  background: #3abeb1; }

.via-slds .slds-timeline__media--custom-custom20:before {
  background: #48c7c8; }

.via-slds .slds-timeline__media--custom-custom21:before {
  background: #8a7aed; }

.via-slds .slds-timeline__media--custom-custom22:before {
  background: #8b85f9; }

.via-slds .slds-timeline__media--custom-custom23:before {
  background: #b070e6; }

.via-slds .slds-timeline__media--custom-custom24:before {
  background: #e56798; }

.via-slds .slds-timeline__media--custom-custom25:before {
  background: #e46fbe; }

.via-slds .slds-timeline__media--custom-custom26:before {
  background: #7698f0; }

.via-slds .slds-timeline__media--custom-custom27:before {
  background: #5ab0d2; }

.via-slds .slds-timeline__media--custom-custom28:before {
  background: #89c059; }

.via-slds .slds-timeline__media--custom-custom29:before {
  background: #bdd25f; }

.via-slds .slds-timeline__media--custom-custom30:before {
  background: #f59f71; }

.via-slds .slds-timeline__media--custom-custom31:before {
  background: #eb687f; }

.via-slds .slds-timeline__media--custom-custom32:before {
  background: #38c393; }

.via-slds .slds-timeline__media--custom-custom33:before {
  background: #97cf5d; }

.via-slds .slds-timeline__media--custom-custom34:before {
  background: #d58a6a; }

.via-slds .slds-timeline__media--custom-custom35:before {
  background: #e9637e; }

.via-slds .slds-timeline__media--custom-custom36:before {
  background: #d472d4; }

.via-slds .slds-timeline__media--custom-custom37:before {
  background: #8c89f2; }

.via-slds .slds-timeline__media--custom-custom38:before {
  background: #53b6d7; }

.via-slds .slds-timeline__media--custom-custom39:before {
  background: #4fbe75; }

.via-slds .slds-timeline__media--custom-custom40:before {
  background: #83c75e; }

.via-slds .slds-timeline__media--custom-custom41:before {
  background: #43b5b5; }

.via-slds .slds-timeline__media--custom-custom42:before {
  background: #cfd05b; }

.via-slds .slds-timeline__media--custom-custom43:before {
  background: #7f93f9; }

.via-slds .slds-timeline__media--custom-custom44:before {
  background: #c8ca58; }

.via-slds .slds-timeline__media--custom-custom45:before {
  background: #d95879; }

.via-slds .slds-timeline__media--custom-custom46:before {
  background: #67a5e7; }

.via-slds .slds-timeline__media--custom-custom47:before {
  background: #5fcc64; }

.via-slds .slds-timeline__media--custom-custom48:before {
  background: #ef697f; }

.via-slds .slds-timeline__media--custom-custom49:before {
  background: #e25c80; }

.via-slds .slds-timeline__media--custom-custom50:before {
  background: #49bcd3; }

.via-slds .slds-timeline__media--custom-custom51:before {
  background: #d8c760; }

.via-slds .slds-timeline__media--custom-custom52:before {
  background: #ee8e6f; }

.via-slds .slds-timeline__media--custom-custom53:before {
  background: #f36e83; }

.via-slds .slds-timeline__media--custom-custom54:before {
  background: #ea70b1; }

.via-slds .slds-timeline__media--custom-custom55:before {
  background: #d66ee0; }

.via-slds .slds-timeline__media--custom-custom56:before {
  background: #718deb; }

.via-slds .slds-timeline__media--custom-custom57:before {
  background: #5a9cdd; }

.via-slds .slds-timeline__media--custom-custom58:before {
  background: #34b59d; }

.via-slds .slds-timeline__media--custom-custom59:before {
  background: #e3d067; }

.via-slds .slds-timeline__media--custom-custom60:before {
  background: #bf5a88; }

.via-slds .slds-timeline__media--custom-custom61:before {
  background: #f57376; }

.via-slds .slds-timeline__media--custom-custom62:before {
  background: #6b92dc; }

.via-slds .slds-timeline__media--custom-custom63:before {
  background: #7ccf60; }

.via-slds .slds-timeline__media--custom-custom64:before {
  background: #618fd8; }

.via-slds .slds-timeline__media--custom-custom65:before {
  background: #f279ab; }

.via-slds .slds-timeline__media--custom-custom66:before {
  background: #d8be5f; }

.via-slds .slds-timeline__media--custom-custom67:before {
  background: #f87d76; }

.via-slds .slds-timeline__media--custom-custom68:before {
  background: #f26979; }

.via-slds .slds-timeline__media--custom-custom69:before {
  background: #ed6387; }

.via-slds .slds-timeline__media--custom-custom70:before {
  background: #e769b4; }

.via-slds .slds-timeline__media--custom-custom71:before {
  background: #e36ee3; }

.via-slds .slds-timeline__media--custom-custom72:before {
  background: #8d9bfb; }

.via-slds .slds-timeline__media--custom-custom73:before {
  background: #679ef0; }

.via-slds .slds-timeline__media--custom-custom74:before {
  background: #41c8a0; }

.via-slds .slds-timeline__media--custom-custom75:before {
  background: #cd9f65; }

.via-slds .slds-timeline__media--custom-custom76:before {
  background: #db6d7a; }

.via-slds .slds-timeline__media--custom-custom77:before {
  background: #b55d5b; }

.via-slds .slds-timeline__media--custom-custom78:before {
  background: #5a95dd; }

.via-slds .slds-timeline__media--custom-custom79:before {
  background: #8ed363; }

.via-slds .slds-timeline__media--custom-custom80:before {
  background: #659ad5; }

.via-slds .slds-timeline__media--custom-custom81:before {
  background: #da627f; }

.via-slds .slds-timeline__media--custom-custom82:before {
  background: #d15b97; }

.via-slds .slds-timeline__media--custom-custom83:before {
  background: #e7806f; }

.via-slds .slds-timeline__media--custom-custom84:before {
  background: #f6707b; }

.via-slds .slds-timeline__media--custom-custom85:before {
  background: #f26891; }

.via-slds .slds-timeline__media--custom-custom86:before {
  background: #e260ab; }

.via-slds .slds-timeline__media--custom-custom87:before {
  background: #d876e5; }

.via-slds .slds-timeline__media--custom-custom88:before {
  background: #996fe6; }

.via-slds .slds-timeline__media--custom-custom89:before {
  background: #3e99be; }

.via-slds .slds-timeline__media--custom-custom90:before {
  background: #22a48a; }

.via-slds .slds-timeline__media--custom-custom91:before {
  background: #bf7b66; }

.via-slds .slds-timeline__media--custom-custom92:before {
  background: #517e82; }

.via-slds .slds-timeline__media--custom-custom93:before {
  background: #904d4c; }

.via-slds .slds-timeline__media--custom-custom94:before {
  background: #439cba; }

.via-slds .slds-timeline__media--custom-custom95:before {
  background: #8bcf6a; }

.via-slds .slds-timeline__media--custom-custom96:before {
  background: #6d9de3; }

.via-slds .slds-timeline__media--custom-custom97:before {
  background: #dd6085; }

.via-slds .slds-timeline__media--custom-custom98:before {
  background: #e1be5c; }

.via-slds .slds-timeline__media--custom-custom99:before {
  background: #f0856e; }

.via-slds .slds-timeline__media--custom-custom100:before {
  background: #e15d76; }

.via-slds .slds-timeline__media--standard-log-a-call:before {
  background: #48c3cc; }

.via-slds .slds-timeline__media--standard-document:before {
  background: #baac93; }

.via-slds .slds-timeline__media--standard-environment-hub:before {
  background: #54698d; }

.via-slds .slds-timeline__media--standard-flow:before {
  background: #54698d; }

.via-slds .slds-timeline__media--standard-sossession:before {
  background: #54698d; }

.via-slds .slds-timeline__media--standard-process:before {
  background: #54698d; }

.via-slds .slds-timeline__media--standard-news:before {
  background: #7f8de1; }

.via-slds .slds-timeline__media--standard-home:before {
  background: #ef7ead; }

.via-slds .slds-timeline__media--standard-account:before {
  background: #7f8de1; }

.via-slds .slds-timeline__media--standard-apps-admin:before {
  background: #9895ee; }

.via-slds .slds-timeline__media--standard-announcement:before {
  background: #62b7ed; }

.via-slds .slds-timeline__media--standard-person-account:before {
  background: #7f8de1; }

.via-slds .slds-timeline__media--standard-social:before {
  background: #ea74a2; }

.via-slds .slds-timeline__media--standard-campaign-members:before {
  background: #f49756; }

.via-slds .slds-timeline__media--standard-article:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-answer-public:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-answer-private:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-answer-best:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-avatar-loading:before {
  background: #b8c3ce; }

.via-slds .slds-timeline__media--standard-campaign:before {
  background: #f49756; }

.via-slds .slds-timeline__media--standard-calibration:before {
  background: #47cfd2; }

.via-slds .slds-timeline__media--standard-avatar:before {
  background: #62b7ed; }

.via-slds .slds-timeline__media--standard-approval:before {
  background: #50cc7a; }

.via-slds .slds-timeline__media--standard-apps:before {
  background: #3c97dd; }

.via-slds .slds-timeline__media--standard-user:before {
  background: #34becd; }

.via-slds .slds-timeline__media--standard-evernote:before {
  background: #86c86f; }

.via-slds .slds-timeline__media--standard-coaching:before {
  background: #f67594; }

.via-slds .slds-timeline__media--standard-connected-apps:before {
  background: #9895ee; }

.via-slds .slds-timeline__media--standard-drafts:before {
  background: #6ca1e9; }

.via-slds .slds-timeline__media--standard-email:before {
  background: #95aec5; }

.via-slds .slds-timeline__media--standard-email-iq:before {
  background: #a094ed; }

.via-slds .slds-timeline__media--standard-endorsement:before {
  background: #8b9ae3; }

.via-slds .slds-timeline__media--standard-event:before {
  background: #eb7092; }

.via-slds .slds-timeline__media--standard-dropbox:before {
  background: #52aef9; }

.via-slds .slds-timeline__media--standard-concur:before {
  background: #4cc3c7; }

.via-slds .slds-timeline__media--standard-email-chatter:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-case-transcript:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-case-email:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-case-log-a-call:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-case-comment:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-case-change-status:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-work-order:before {
  background: #50e3c2; }

.via-slds .slds-timeline__media--standard-work-order-item:before {
  background: #33a8dc; }

.via-slds .slds-timeline__media--standard-client:before {
  background: #00d2be; }

.via-slds .slds-timeline__media--standard-contract:before {
  background: #6ec06e; }

.via-slds .slds-timeline__media--standard-dashboard:before {
  background: #ef6e64; }

.via-slds .slds-timeline__media--standard-case:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-empty:before {
  background: #8199af; }

.via-slds .slds-timeline__media--standard-default:before {
  background: #8199af; }

.via-slds .slds-timeline__media--standard-custom:before {
  background: #8199af; }

.via-slds .slds-timeline__media--standard-canvas:before {
  background: #8199af; }

.via-slds .slds-timeline__media--standard-contact:before {
  background: #a094ed; }

.via-slds .slds-timeline__media--standard-portal:before {
  background: #aec770; }

.via-slds .slds-timeline__media--standard-product:before {
  background: #b781d3; }

.via-slds .slds-timeline__media--standard-pricebook:before {
  background: #b781d3; }

.via-slds .slds-timeline__media--standard-feed:before {
  background: #62b7ed; }

.via-slds .slds-timeline__media--standard-feedback:before {
  background: #6da1ea; }

.via-slds .slds-timeline__media--standard-file:before {
  background: #baac93; }

.via-slds .slds-timeline__media--standard-goals:before {
  background: #56aadf; }

.via-slds .slds-timeline__media--standard-groups:before {
  background: #779ef2; }

.via-slds .slds-timeline__media--standard-household:before {
  background: #00afa0; }

.via-slds .slds-timeline__media--standard-hierarchy:before {
  background: #34becd; }

.via-slds .slds-timeline__media--standard-insights:before {
  background: #ec94ed; }

.via-slds .slds-timeline__media--standard-investment-account:before {
  background: #4bc076; }

.via-slds .slds-timeline__media--standard-performance:before {
  background: #f8b156; }

.via-slds .slds-timeline__media--standard-link:before {
  background: #7a9ae6; }

.via-slds .slds-timeline__media--standard-metrics:before {
  background: #56aadf; }

.via-slds .slds-timeline__media--standard-note:before {
  background: #e6d478; }

.via-slds .slds-timeline__media--standard-lead:before {
  background: #f88962; }

.via-slds .slds-timeline__media--standard-opportunity:before {
  background: #fcb95b; }

.via-slds .slds-timeline__media--standard-call:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-call-history:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-orders:before {
  background: #769ed9; }

.via-slds .slds-timeline__media--standard-post:before {
  background: #65cae4; }

.via-slds .slds-timeline__media--standard-poll:before {
  background: #699be1; }

.via-slds .slds-timeline__media--standard-photo:before {
  background: #d7d1d1; }

.via-slds .slds-timeline__media--standard-people:before {
  background: #34becd; }

.via-slds .slds-timeline__media--standard-generic-loading:before {
  background: #b8c3ce; }

.via-slds .slds-timeline__media--standard-group-loading:before {
  background: #b8c3ce; }

.via-slds .slds-timeline__media--standard-recent:before {
  background: #6ca1e9; }

.via-slds .slds-timeline__media--standard-solution:before {
  background: #8fc972; }

.via-slds .slds-timeline__media--standard-record:before {
  background: #7dc37d; }

.via-slds .slds-timeline__media--standard-question-best:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-question-feed:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-related-list:before {
  background: #59bcab; }

.via-slds .slds-timeline__media--standard-skill-entity:before {
  background: #8b9ae3; }

.via-slds .slds-timeline__media--standard-scan-card:before {
  background: #f39e58; }

.via-slds .slds-timeline__media--standard-report:before {
  background: #2ecbbe; }

.via-slds .slds-timeline__media--standard-quotes:before {
  background: #88c651; }

.via-slds .slds-timeline__media--standard-task:before {
  background: #4bc076; }

.via-slds .slds-timeline__media--standard-task-2:before {
  background: #4bc076; }

.via-slds .slds-timeline__media--standard-team-member:before {
  background: #f2cf5b; }

.via-slds .slds-timeline__media--standard-thanks:before {
  background: #e9696e; }

.via-slds .slds-timeline__media--standard-reward:before {
  background: #e9696e; }

.via-slds .slds-timeline__media--standard-thanks-loading:before {
  background: #b8c3ce; }

.via-slds .slds-timeline__media--standard-today:before {
  background: #ef7ead; }

.via-slds .slds-timeline__media--standard-topic:before {
  background: #56aadf; }

.via-slds .slds-timeline__media--standard-unmatched:before {
  background: #62b7ed; }

.via-slds .slds-timeline__media--standard-marketing-actions:before {
  background: #6bbd6e; }

.via-slds .slds-timeline__media--standard-relationship:before {
  background: #3c97dd; }

.via-slds .slds-timeline__media--standard-folder:before {
  background: #8b9ae3; }