/*** STYLES ***/
/* variables */
/* colors */
/* font sizes */
/* line heights */
.vlocity {
  /* Always use vlocity class as a wrapper */ }
  .vlocity .np-canvas {
    background: #ffffff;
    color: #16325c; }
    .vlocity .np-canvas.np-border {
      border: 0px solid rgba(231, 236, 243, 0.54); }
    .vlocity .np-canvas .np-session--title {
      font-size: 32px; }
      .vlocity .np-canvas .np-session--title:after {
        content: "";
        background: #ff7900;
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 50px;
        height: 3px; }
  .vlocity .np-usage-canvas
.control-link {
    display: none; }
  .vlocity .np-usage-canvas
.control-btn {
    display: block; }
    .vlocity .np-usage-canvas
.control-btn a {
      color: #16325c;
      text-decoration: none !important; }
    .vlocity .np-usage-canvas
.control-btn
.active {
      color: #FF6E0D;
      border: 2px solid;
      padding: 7px 12px;
      margin-right: 5px;
      border-radius: 20px; }
  @media screen and (max-width: 499px) {
    .vlocity .np-usage-canvas
.control-link {
      display: block; }
    .vlocity .np-usage-canvas
.control-btn {
      display: none; } }